<h1>Listing projects</h1>

<%= "Hello #{current_user.full_name}!" if logged_in? %>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Milestone</th>
    <th>Data sources</th>
    <th>References</th>
  </tr>

<% for project in @projects %>
  <tr>
    <td><%=h project.title %></td>
    <td><%=h project.abstract %></td>
    <td><%=h project.milestone_id %></td>
    <td><%=h project.data_sources %></td>
    <td><%=h project.references %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>
