<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @project.abstract %>
</p>

<p>
  <b>Milestone:</b>
  <%=h @project.milestone_id %>
</p>

<p>
  <b>Data sources:</b>
  <%=h @project.data_sources %>
</p>

<p>
  <b>References:</b>
  <%=h @project.references %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
