<h1>Editing medical history</h1>

<%= error_messages_for :medical_history %>

<% form_for(@medical_history) do |f| %>
	<h3>Patient Information</h3>
	<p>
	  <b>SS/HIC/Patient ID</b><br />
	  <%= f.text_field :patient_id %>
	</p>
	<p>
	  <b>Patient</b><br />
	  <%= f.text_field :patient_name %>
	</p>
	<p>
	  <b>Address</b><br />
	  <%= f.text_field :patient_address %>
	</p>
	<p>
	  <b>City</b><br />
	  <%= f.text_field :patient_city %>
	</p>
	<p>
	  <b>State</b><br />
	  <%= f.text_field :patient_state %>
	</p>
	<p>
	  <b>Zip</b><br />
	  <%= f.text_field :patient_zip %>
	</p>
	<p>
	  <b>Email</b><br />
	  <%= f.text_field :patient_email %>
	</p>
	<p>
	  <b>Birthday</b><br />
	  <%= f.text_field :patient_birthdate %>
	</p>
	<p>
	  <b>Gender</b><br />
	  <%= f.select :patient_sex, MedicalHistory::GENDER %>
	</p>
	<p>	
	  <b>Relationship Status</b><br />
	  <%= f.select :patient_relationship_status, MedicalHistory::RELATIONSHIP_STATUS %>
	</p>
	<p>
	  <b>Occupation</b><br />
	  <%= f.text_field :patient_occupation %>
	</p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @medical_history %> |
<%= link_to 'Back', medical_histories_path %>
