<div id="product-list">
<h1>Listing currently available products in the warehouse</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Availability</th>
    <th>Profit</th>
    <th>Image url</th>
  </tr>

<% for product in @products %>
  <tr class="<%= cycle('line-list-odd', 'line-list-even') %>">
    <td><%=h product.title %></td>
    <td><%=h product.short_description %></td>
    <td><%=h product.price %></td>
    <td>x<%=h product.availability %>
      <% if product.availability <= product.reorder_quantity %>
	<%= link_to "Order 5 more!", { :action => :reorder, :id => product.id } %>
      <% end %>
    </td>
    <td><%= number_to_currency(product.price - product.our_price) %></td>
    <td><%=h product.image_url %></td>
    <td><%= link_to 'Show', product if product.description.length > 100 %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product', new_product_path %>
</div>
