<p><h2>Displaying all pairwise scores in the network database.</h2></p>

<table> 
  <th>ID 1</th>
  <th>ID 2</th>
  <%= (1..num_datasources).map {|i| "<th>DS #{i}</th>"} %>
  <% for protein_pair in @protein_pairs %>
    <tr class=<%= list_cycle %>>
      <td><%= protein_pair.protein_1_id %></td>
      <td><%= protein_pair.protein_2_id %></td>
      <td><%= protein_pair.ds_score_1 %></td>
      <td><%= protein_pair.ds_score_2 %></td>
      <td><%= protein_pair.ds_score_3 %></td>
      <td><%= protein_pair.ds_score_4 %></td>
    </tr>
  <% end %>
</table>
