<h1>New histogram</h1>

<%= error_messages_for :histogram %>

<% form_for(@histogram) do |f| %>
  <p>
    <b>Elem</b><br />
    <%= f.select :elem_id, (1..max_node_id).map %>
  </p>

  <p>
    <b>Datasource</b><br />
    <%= f.select :datasource, (1..num_datasources).map %>
  </p>

  <p>
    <b>Num groups</b><br />
    <%= f.text_field :num_groups, :size => 8 %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', histograms_path %>
