<h1>Product Catalog</h1>

<% for product in @products -%>
  <div class='entry'>
    <img src="<%= product.image_url %>" />
    <h3><%= h(product.title) %></h3>
    <%= h(product.short_description) %>
    <span class="price"><%= number_to_currency(product.price) %></span> 
    
    <%= button_to "Add to cart!", :action => :add_to_cart, :id => product %>
    
    <!-- THIS IS THE AJAX VERSION THAT IS NOT WORKING AT THE MOMENT
    <% form_remote_tag :url => {:action => :add_to_cart, :id => product} do %>
      <%= submit_tag "Add to cart" %>
    <% end %>
    -->
    
    <br>
  </div>
<% end %>
