<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= (name = controller.action_name) == "index" ? "b i o a l g o" : "Posts: #{name}"%></title>
  <%= stylesheet_link_tag 'default' %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-4306895-1");
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>
</head>
<body>
  <div id="page">
    <div id="header">
    </div>
    
    <div id="content">
      <p style="color: green"><%= flash[:notice] %></p>
      
      <%= yield %>

    </div>

    <div id="sidebar">
      <h3>About me</h3>
      <p>I am an undergraduate student at the <strong>University of California: Santa Barbara</strong> studying <strong>Bioinformatics.</strong> I will be graduating in December of 2008.</p>
      <h3>Links</h3>
      <ul>
	<li><%= link_to "Home", :action => :index %></li>
	<li><%= link_to "Home", :action => :index %></li>
      </ul> 
      <h3>Feeds</h3>
      <ul>
	<li><%= link_to "Home", :action => :index %></li>
	<li><%= link_to "Home", :action => :index %></li>
      </ul>
    </div>

    <div id="footer">
      <a href="http://www.facebook.com/people/Evan_Senter/3604509" title="Evan Senter's Facebook profile" target=_TOP><img src="http://badge.facebook.com/badge/3604509.1499.1039003146.png" border=0 alt="Evan Senter's Facebook profile"></a>
    </div>
  </div>
  <%= syntax_css "twilight" %>    
</body>
</html>
