<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Administration: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<br><br>
<fieldset><legend>Administrative control</legend>
  <%= link_to "List users", :action => :list_users %> | <%= link_to "Admin home", :action => :index %> | <%= link_to "New user", :action => :add_user %> | <%= link_to "Remove users", :action => :delete_user %> | <%= link_to "Logout", :action => :logout %> | <%= link_to "To the store!", { :controller => :store, :action => :index } %><% if admin? %> | <%= link_to "To the warehouse!", { :controller => :products, :action => :index } %><% end %>
</fieldset>
</body>
</html>
