<div class="depot-form">
<%= error_messages_for 'user' %>

<fieldset><legend>Enter user details</legend>
<% form_for :user do |form| %>
  <p><label for="user_name">User name:</label>
    <%= form.text_field :name, :Size => 40 %>
  </p>
  
  <p><label for="user_password">Password:</label>
    <%= form.password_field :password, :size => 40 %>
  </p>
  
  <p><label for="user_password_confirmation">Confirm password:</label>
    <%= form.password_field :password_confirmation, :size => 40 %>
  </p>

  <%= submit_tag "Add user", :class => "submit" %>
<% end %>
</fieldset>
</ br>
<%= link_to "Return to admin index", :action => :index %>
</div>
