<%= render(:partial => "new", :object => @work_session) %>

<center><h2>~ everything ~</h2></center>

<table id="hours" align="center">
  <tr>
    <th>(( </th>
    <th>Name ), ( </th>
    <th>Project ), ( </th>
    <th>Ended at ), ( </th>
    <th>Time worked ))</th>
  </tr>

<% for work_session in @work_sessions %>
  <tr>
    <td></td>
    <td><%=h work_session.name %></td>
    <td><%=h work_session.project %></td>
    <td><%=h work_session.ended_at.to_formatted_s(:short) unless work_session.ended_at.nil? %></td>
    <td><%=h work_session.time_worked_as_s %></td>
    <td></td>
    <td><%= link_to 'show', work_session %>, </td>
    <td><%= link_to 'edit', edit_work_session_path(work_session) %></td>
    <% if work_session.open %>
      <td>, <%= link_to 'clock out', :action => :close, :id => work_session.id %>, </td>
      <td><%= link_to 'destroy', work_session, :confirm => 'But, really?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
  <tr>
    <td></td>
    <td><b>Total time</b></td>
    <td></td>
    <td></td>
    <td><b><%= total_hours_worked %></b></td>
</table>
