<table align=center width=500>
  <tr>
    <td>
      <p>
	<b>:name </b><%= " => " %><%=h @work_session.name %>, <b>:project </b><%= " => " %><%=h @work_session.project %>
      </p>
      <p>
	<b>start: </b><%= " => " %><%=h @work_session.created_at %>
	<% unless @work_session.open %>
	  , <b>stop: </b><%= " => " %><%=h @work_session.ended_at %>
	  <br><b>worked: </b><%= h @work_session.time_worked %>
	<% end %>
      </p>
    </td>
  </tr>
  <tr>
    <td><b>A question: </b><i>Are you ready to <%= link_to 'go back', work_sessions_path %> yet or do you still have <%= link_to 'changes to make?', edit_work_session_path(@work_session) %></i></td>
  </tr>
</table>
